.App {
  text-align: center;
}

.searchBar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: black;
}

.search {
  width: 500px;
  color: black;
  height: 20px;
  margin-right: 20px;
}

.searchBar button {
  height: 25px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.searchBar button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.cityCard {
  width: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cityCard h2{
  border-bottom: 2px solid black;
}

.cityList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;
}

.cityCard h3{
  border-bottom: 2px solid black;
}

.cityCard>div{
  border-bottom: 1px solid black;
}